/* Default style for toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

.toggle-switch input {
  display: none;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.1s;
  border-radius: 15px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.1s;
  border-radius: 50%;
}

/* Style for when toggle switch is "on" */
.toggle-switch input:checked + .toggle-slider {
  background-color: #2196f3;
}

.toggle-switch input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
